<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="from-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" id="">
        <br>
        <label for="blogPost">Post</label>
        <textarea class="form-control" name="blogPost" id="" rows="5" cols="30"></textarea>
        <br>
        <button class="btn btn-primary" type="submit">Publish</button>
    </div
>
</form>

<%- include("partials/footer") -%>